In [3]:
from time import gmtime 

dt = gmtime(12345678.9)

dt

time.struct_time(tm_year=1970, tm_mon=5, tm_mday=23, tm_hour=21, tm_min=21, tm_sec=18, tm_wday=5, tm_yday=143, tm_isdst=0)

In [12]:
import datetime 

def get_first_last(dt):
    start = datetime.date(year=dt.year, month=dt.month, day=1)
    
    if start.month == 12:
        new_year = start.year + 1
        new_month = 1
    else:
        new_year = start.year
        new_month = start.month + 1

    end = datetime.date(year=new_year, month=new_month, day=1) - datetime.timedelta(days=1)

    return start

In [11]:
from time import strftime, localtime

dt = datetime.datetime.fromisoformat(strftime('%Y-%m-%d %H:%M:%S', localtime(12345678.9)))

print(dt)
get_first_last(dt)

1970-05-24 02:51:18

(datetime.date(1970, 5, 1), datetime.date(1970, 5, 31))

In [14]:
dt1 = datetime.datetime.fromisoformat('2001-01-01T13:50:23')
dt2 = datetime.datetime.fromisoformat('2001-06-12T14:23:50')

In [18]:
(dt2-dt1).total_seconds()//3600

3888.0

In [19]:
# Final function

In [20]:
def num_hours(dt1, dt2):
    seconds_in_hour = 60 * 60
    dt1 = datetime.fromisoformat(dt1)
    dt2 = datetime.fromisoformat(dt2)
    delta_seconds = int((dt2 - dt1).total_seconds())
    complete_hours = delta_seconds // seconds_in_hour
    remaining_seconds = delta_seconds % seconds_in_hour
    return complete_hours + round(remaining_seconds / seconds_in_hour)