In [2]:
#Write a function that takes a variable number of arguments (with a minimum of one), and returns the average of these numbers.

def average(*args):
    if len(args) == 0:
        raise ValueError('At least one argument must be passed to the function')
    return sum(args)/len(args)

average(1,2,3,4,5)

3.0

In [3]:
average()

ValueError: At least one argument must be passed to the function

In [4]:
def average(a, *args):
    if len(args) == 0:
        raise ValueError('At least one argument must be passed to the function')
    return sum(args)/len(args)

In [5]:
average()

TypeError: average() missing 1 required positional argument: 'a'

In [6]:
# Question 2

def separator(times=10, *, char='-'):
    return char*times

separator()

'----------'

In [9]:
separator(times=20, char='*')

'********************'

In [18]:
# Question 3

f = lambda iterable: len(set(iterable))

f([1,2,3,3,3,4])

4

In [14]:
f('malayalam')

4

In [17]:
f('')

0

In [27]:
# Question 4

def return_dict(args=' '):
    args = args.replace('.', ' ') 
    args = args.replace(',', ' ')

    list_of_strings = args.split()

    freq = {}

    for word in args.split():
        freq[word] = freq.get(word, 0 ) + 1
    return freq

return_dict("This is the first character. This is the second one, and this is the third")

{'This': 2,
 'is': 3,
 'the': 3,
 'first': 1,
 'character': 1,
 'second': 1,
 'one': 1,
 'and': 1,
 'this': 1,
 'third': 1}

In [28]:
from collections import Counter
def return_dict(args=' '):
    args = args.replace('.', ' ') 
    args = args.replace(',', ' ')

    return dict(Counter(args.split()))

return_dict("This is the first character. This is the second one, and this is the third")

{'This': 2,
 'is': 3,
 'the': 3,
 'first': 1,
 'character': 1,
 'second': 1,
 'one': 1,
 'and': 1,
 'this': 1,
 'third': 1}